.product {

}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding : 20px;
    margin-bottom : 20px;
    border-radius: 10px;
    position: relative;
}

.product .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.buy-button{
    background-color: yellowgreen;
    position: absolute;
    bottom:0;
    width: 80%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.price{
    margin-bottom : 15px;
    color:black;
    font-weight: 700;
    margin-right: 10px;
}

p{
    color:gray;
}

.tag-best{
    position: absolute;
    top : 0;
    left : 0;
    padding : 5px 15px;
    font-size : 0.8rem;
    background-color: orangered;
    border-radius: 10px 0px 10px 0;
    font-weight: 600;
    color:white;
}

.discount{
    position: absolute;
    right : 25px;
    top:0;
    padding : 4px 7px;
    font-size : 0.8rem;
    background-color:  yellow;
    border-radius: 0px 0px 10px 10px;
    font-weight: 800;
       color:red; 
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    font-size: 20px;
}