

.topheader{
    display: flex;
    justify-content: space-evenly;
    background-color: greenyellow;
}

.Pro{
    font-weight: 700;
    color: green;
    cursor: pointer;
    font-style: italic;
}

.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    border-bottom:1px solid;
    padding : 3px;
    box-shadow: 0.5px 0.5px;
}

h1{
 padding : 10px;
 padding-left:20px;
 font-size: 32px;
 color: green;
 font-weight: 700;
 cursor: pointer;
}

.kategori{
    display: flex;
    flex-direction: row;
    margin-left: -100px;
}

.p-kategori{
    margin : auto 50px auto 0;
    font-weight: 700;
}

.login{
    display: flex;
}

.p-login{
    margin-left : 50px;
    margin-right :20px;
    font-weight: 700;
}