.footer {
    background-color: greenyellow;
    height: 8vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 24px;
    color: green;
    font-weight: 500;
    bottom:0;
}