@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.home{
  display: flex;
  margin-top: 50px;
}

.position{
  margin : 20px 0 20px 500px;
}

.jarak{
  margin-top:10px;
}

.p-merchant{
  font-size: 24px;
}

.p-name{
  font-size: 32px;
  font-weight: 500;
}

.promo{
  width: 200px;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  padding : 5px;
  font-weight: 500;
}

.button-beli{
  width: 100%;
  background-color: yellowgreen;
  padding : 20px;
  border-radius: 10px;
  margin-top : 30px;
}

.rincian{
  width: 20rem;
  color: gray;
  font-weight: 700;
  font-size: 24px;
}

.sub-judul{
  font-size: 36px;
  font-weight: 500;
  margin : 25px 0 25px 0;
}

.reviewaverage{
  display: flex;
  font-size : 2rem;
}

.reviewaverage-1{
  display: flex;
  text-align: center;
  align-items: center;
  margin-left : 15px;
}

.reviewaveragesmall{
  display: flex;
  font-size : 1.5rem;
  margin-bottom:20px;
}

.reviewbox{
  border : 1px solid;
  padding :20px;
  margin-bottom : 20px;
  border-radius: 20px;
}

hr{
  margin : 10px 0 ;
}